#about {
    text-align: center;
    /* background-color: #282c34; */
    /* background-color: rgba(129, 129, 129, 0.408); */

}

#about h2 {
    /* color: #282c34; */
    color: white;
}

#about p {
    /* color: #282c34; */
    color: white;
    font-weight:bold;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}