.App {
  text-align: center;
  background-color: rgba(103, 70, 98, 0.592);
}

.App-header {
  padding: 20px;
  color: white;
  height:min-content;
  background-image: url("/Users/tuyishimeg/Desktop/Rwanda.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 200px 50px; /* Increase padding to make the header larger */
  color: white;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the height */
}


.App-header h1, .App-header h2 {
  margin: 5px 0; /* Reduce margin between headings */
}

.App-header h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin: 20px;
  /* position: sticky; 
  top: 0; */
}

.App-header h2 {
  font-size: 3em;
  font-weight: 450;
  margin-bottom: 20px;
  /* position: sticky; 
  top: 0; */
}

.Nav {
  margin-top: 20px;
  width: 100%;
  position: sticky; 
  top: 0;
}

.Nav a{
  margin: 0 15px;
  color: #61dafb;
  font-size: large;
  position: sticky; 
  top: 0;
  
}

.Nav a:hover {
font-weight: bold;
}

.Nav button {
  background-color: transparent;
  border: none;
  
}
.Nav button:hover {
  background-color: gray;
  border: none;
  
}

.rounded-button {
  border-radius: 20px;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
}

.App-footer {
  background-color: transparent;
}

.App-footer header{
  color: white;
}

