.App {
  text-align: center;
  background-color: rgba(103, 70, 98, 0.592);
}

.App-header {
  padding: 20px;
  color: white;
  height:min-content;
  background-image: url("/Users/tuyishimeg/Desktop/Rwanda.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 200px 50px; /* Increase padding to make the header larger */
  color: white;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the height */
}


.App-header h1, .App-header h2 {
  margin: 5px 0; /* Reduce margin between headings */
}

.App-header h1 {
  font-size: 1em;
  margin: 1px;
  position: sticky; 
  top: 0;
}

.App-header h2 {
  font-size: 3em;
  margin-bottom: 20px;
  position: sticky; 
  top: 0;
}

.App-header nav {
  margin-top: 20px;
  position: sticky; 
  top: 0;
  width: 100%;
  /* background-color: rgba(40, 44, 52, 0.8); */
}

.App-header nav a{
  margin: 0 15px;
  color: #61dafb;
  font-size: large;

  
  top: 0;
}

.App-header nav a:hover {
font-weight: bold;}

.App-header nav button {
  background-color: transparent;
  border: none;
  
}
.App-header nav button:hover {
  background-color: gray;
  border: none;
  
}

.rounded-button {
  border-radius: 20px;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* color: #282c34; */
}

.App-footer {
  background-color: #282c34c1;
}

.App-footer header{
  color: white;
}

