.App {
  text-align: center;
  background-color: rgba(103, 70, 98, 0.592);
}

.App-header {
  padding: 20px;
  color: white;
  height:min-content;
  background-image: url("/Users/tuyishimeg/Desktop/Rwanda.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 200px 50px; /* Increase padding to make the header larger */
  color: white;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the height */
}


.App-header h1, .App-header h2 {
  margin: 5px 0; /* Reduce margin between headings */
}

.App-header h1 {
  font-size: 1em;
  margin: 1px;
}

.App-header h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.App-header nav {
  margin-top: 20px;
  position: sticky; 
  top: 0;
  width: 100%;
}

.App-header nav a{
  margin: 0 15px;
  color: #61dafb;
  font-weight: bold;
}

.App-header nav a:hover {
  text-decoration: underline;
}

.App-header nav button {
  background-color: gray;
  border: none;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* color: #282c34; */
}

.App-footer {
  background-color: #282c34c1;
}

.App-footer header{
  color: white;
}

